@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Open+Sans:300,400,600,700&display=swap&subset=cyrillic,cyrillic-ext);

:root {
    --bg2: #E5ECFF;
    --columns__border: #000000;
    --active__columns__border: #787878;
    --border__raduis: 10px;
    --bg: #fff;
    --alerts_bg: #E5ECFF;
    --font_family: 'Montserrat', 'Open Sans', sans-serif;
    --bounce__delay: 200;
    --flip__delay: 200;
}

* {
    font-family: var(--font_family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
}


body {
    background-color: var(--bg);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text__messagebox {
    display: none;
    background: var(--bg2);
    width: 30%;
    position: absolute;
    bottom: calc(50% - 50px);
    text-align: center;
    padding: 50px;
    z-index: 100;
}

#loadingMessage {
    display: block;
}

footer {
    position: absolute;
    bottom: 5px;
}