body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-container {
    display: flex;
    flex-direction: column;
}

.columns {
    border: 1px solid darkgray;
    background-color: gray;
    min-width: 50px;
    min-height: 50px;
    margin-left: 5px;
    box-sizing: border-box;
}

.rows {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

#emptyLine {
    position: absolute;
    border-radius: 10px;
    background-color: rgb(155, 255, 255);
    padding: 20px 100px;
    top: 20px;
    right: auto;
    left: auto;
}